//Import Utilities
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/placeholders" as *;

/* --------- Chef Words Section Start --------- */
.chef--section {
  padding: 4rem 0;

  @include media(x-small) {
    max-width: 650px;
    margin   : 0 auto;
  }

  @include media(large) {
    max-width: 100%;
  }

  .container {
    background-color: $light--background;
    border-radius   : $secondary--radius;
    box-shadow      : $primary--shadow;
    padding         : 2rem 3rem;

    @include media(large) {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
    }

    .chef--word--content {

      @include media(large) {
        width: 40%;
      }

      .chef--title {
        text-align: center;

        @include media(large) {
          text-align: left;
        }
  
        span {
          font-family: $first--font;
          font-size  : 1.5rem;
          font-weight: 600;
          color      : $cyan;
        }
  
        h4 {
          font-family   : $second--font;
          font-size     : 13vw;
          font-weight   : 800;
          color         : $dark--blue;
          text-transform: capitalize;
  
          @include media(x-small) {
            font-size: 3.5rem;
          }
        }
      }
  
      p {
        margin-top : 1rem;
        font-family: $first--font;
        font-size  : 1.2rem;
        text-align : justify;
        font-weight: 600;
        color      : $dark--blue;
        line-height: 1.7rem;
      }
  
      button {
        font-family     : $first--font;
        font-size       : 1rem;
        font-weight     : 700;
        text-transform  : capitalize;
        letter-spacing  : .08rem;
        border          : none;
        background-color: transparent;
        padding         : 1rem 1.8rem;
        border-radius   : $full--radius;
        cursor          : pointer;
        background-color: $dark--orange;
        color           : $white;
        margin          : 1.5rem auto 0;
        display         : block;

        @include media(large) {
          margin: 1.5rem 0 0;
        }
      }
    }

    img {
      display: none;

      @include media(large) {
        display: block;
        width  : 50%;
      }
    }
  }
}
/* ---------- Chef Words Section End ---------- */